<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
      <div class="main-box">
        <h1 class="logo">Code Show <i class="fa fa-file-code-o"></i></h1>
        <h2 class="sub-logo">By Jacob Evans</h2>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
      <div class="desc-box">
        <p class="desc">
          Show and teach code using "Show Code". Show code uses <a href="http://ace.c9.io/">Ace.c9</a> code editor. It also uses <a href="http://socket.io/">Socket.io</a> to instantly share code and allows you to discuss it using the sidebar chat.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
      <div class="desc-btns">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a class="desc-btn"><i class="fa fa-plus"></i></a>
          <p class="desc-text">New</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="https://github.com/JacobTheEvans/code-show" class="desc-btn"><i class="fa fa-github"></i></a>
          <p class="desc-text">Code</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="http://jacobtheevans.com/#/home" class="desc-btn"><i class="fa fa-user"></i></a>
          <p class="desc-text">Maker</p>
        </div>
      </div>
    </div>
  </div>
</div>
