<div class="head-box"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
      <div class="main-box">
        <h1 class="logo">Code Show <i class="fa fa-file-code-o"></i></h1>
        <h2 class="sub-logo">By Jacob Evans</h2>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
      <div class="desc-box">
        <h1 class="center">What is Code Show?</h1>
        <br>
        <p class="desc">
          Show code is an online code editor. It also allows users to watch and discuss code in real time. Users are connected with unique URLs.
        </p>
      </div>
      <div class="desc-box">
        <h1 class="center">What does it use?</h1>
        <br>
        <p class="desc">
          Show code uses <a href="http://ace.c9.io/">Ace.c9</a> code editor. It also uses <a href="http://socket.io/">Socket.io</a> to instantly data.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
      <div class="desc-btns">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
          <a href="https://github.com/JacobTheEvans/code-show" class="desc-btn"><i class="fa fa-github"></i></a>
          <p class="desc-text">Source</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
          <a ng-click="new()" class="desc-btn"><i class="fa fa-plus"></i></a>
          <p class="desc-text">New</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a href="http://jacobtheevans.com/#/home" class="desc-btn"><i class="fa fa-user"></i></a>
          <p class="desc-text">About Me</p>
        </div>
      </div>
    </div>
  </div>
</div>
